@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* add script.js to the page *@
<script src="~/js/script.js"></script>

<div class="text-center myWords">
    <h1 class="display-4">Assessing GitHub Copilot</h1>
</div>
<div id="key">
    <h2>KEY:</h2>
    <p class="myWords">
        My Words.
    </p>
    <p class="copilot">
        Copilot Text.
    </p>
</div>
<br>
<p class="myWords">
    The link below is a default link on new .NET Core Web App projects.
</p>
<br>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<p class="myWords">
    The content below was created by copilot with the following prompt: "Add 2 columns with MS docs".
</p>
@* Add 2 columns with MS docs *@
<div id="row1" class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <ul>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a>
                @* Show the first paragraph of the link above *@
                <p class="myWords">
                    Testing the LLM: "Show the first paragraph of the link above".
                    <br>
                    Preview:
                </p>
                <p class="copilot">
                    In this section, you add a controller and a view. The controller is a class that handles incoming requests.
                    The view is a template that your app uses to dynamically generate HTML responses.
                </p>
                <p class="myWords">
                    <em>False</em>, the linked page does not contain the content above.
                </p>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=699562">Add an app setting and secret in configuration</a>
                @* Show the first paragraph of the link above *@
                <p class="myWords">
                    Testing the LLM: "Show the first paragraph of the link above".
                    <br>
                </p>
                <p class="copilot">  
                    Preview:<br>
                    In this section, you add an app setting and a secret to the app's configuration.
                    The app setting is a name-value pair that can be retrieved at runtime.
                    The secret is a value that can be used for cryptographic purposes.
                </p>
                <p class="myWords">
                    <em>False</em> The linked page does not contain the content above. Furthermore, the link description does not correspond to the link itself.
                </p>    
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkId=699315">Add packages using NuGet</a>
                <p class="myWords">
                    The link description does not correspond to the link itself. It points to "Safe storage of app secrets in development in ASP.NET Core".
                </p>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkId=699316">Add a model to a Razor Pages app</a>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add a controller with views</a>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkId=699318">Add a controller with views using Entity Framework Core</a>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkId=699319">Scaffolded Razor Pages</a>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkId=699320">Scaffolded MVC controller with views</a>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkId=699321">Scaffolded MVC controller with views and using Entity Framework Core</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>More resources</h2>
        <ul>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=398609">ASP.NET Core documentation</a>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=699315">NuGet Package Explorer</a>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=699316">NuGet Documentation</a>
            </li>
        </ul>
    </div>
</div>
<br>
@* Add 1 column about dungeons and dragons *@
<div id="row2" class="row">
    <div class="col-md-12">
        <h2 class="myWords">Testing the LLM: "Add 1 column about dungeons and dragons"</h2>
        <p class="copilot">
            Dungeons & Dragons is a fantasy tabletop role-playing game (RPG) originally designed by Gary Gygax and Dave Arneson.
            It was first published in 1974 by Tactical Studies Rules, Inc. (TSR). The game has been published by Wizards of the Coast (now a subsidiary of Hasbro) since 1997.
            It was derived from miniature wargames with a variation of the Chainmail game serving as the initial rule system.
            D&D's publication is commonly recognized as the beginning of modern role-playing games and the role-playing game industry.
        </p>
        <p class="myWords">
            <em>True</em>, at least according to Wikipedia.
        </p>
    </div>
</div>
@* Add 1 column about 5th edition *@ 
<div id="row3" class="row">
    <div class="col-md-12">
        <h2 class="myWords">Testing the LLM: "Add 1 column about 5th edition"</h2>
        <p class="copilot">
            Dungeons & Dragons, fifth edition (D&D 5e) is a role-playing game published by Wizards of the Coast.
            It is the first edition of D&D to make major changes to the game since the 3.5 edition of 2003.
            The game was released on June 4th, 2014. The 5th edition of Dungeons & Dragons is the latest edition of the Dungeons & Dragons role-playing game.
            It was released on June 4th, 2014. It is the first edition of D&D to make major changes to the game since the 3.5 edition of 2003.
        </p>
        <p class="myWords">
            <em>False</em>, there was a 4th edition released in 2008 that made major changes. The 5th edition was released in 2014, but not on June 4th. The last 2 sentences are redundant and repeat the misinformation.
        </p>
    </div>
</div>
@* Add 1 column about classes *@
<div id="row4" class="row">
    <div class="col-md-12">
        <h2 class="myWords">Testing the LLM: Asked "Add 1 column about classes"</h2>
        <p class="copilot">
            <em>Response:</em><br>
            The original classes from Dungeons & Dragons are the fighter, the cleric, the thief, and the magic-user.
            <br>
            The fighter is a warrior who uses weapons and armor to fight.
            @* Insert an image of a fighter *@
            <img src="~/images/fighter.png" alt="Fighter" width="80" height="80">
            <br>
            The cleric is a priest who uses divine magic to heal and fight.<br>
            The thief is a rogue who uses stealth and trickery to fight.<br>
            The magic-user is a wizard who uses arcane magic to fight.<br>
        </p>
        <p class="myWords">
            <em>False</em>, the original classes are the "Fighting man", Cleric, and Magic-User. The Thief was added later.
        </p>
    </div>
</div>

@* Please add 1 column about the Colorado Rockies and place line breaks after each sentence *@
<div id="row5" class="row">
    <div class="col-md-12">
        <h2 class=myWords">Testing the LLM: Asked "Please add 1 column about the Colorado Rockies and place line breaks after each sentence"
        <em>Below is the entire response, including the conclusion (false) and contradicting facts!</em></h2>
        <h2 class="copilot">Testing the LLM: Asked "Please add 1 column about the Colorado Rockies and place line breaks after each sentence"</h2>
        <p class="copilot">
            <em>Response:</em><br>
            The Colorado Rockies are a Major League Baseball team based in Denver, Colorado. The Rockies compete in Major League Baseball as a member club of the National League West division.
            The team was founded on November 4th, 1992, and played its first game on April 5th, 1993.
            The Rockies played their home games at Mile High Stadium in Denver until the end of the 1999 season.
            They then moved to Coors Field, which opened in 1995, but was not ready for baseball until 1995.
            The Rockies were the first Major League Baseball team to play their home games at an altitude of over 5,000 feet above sea level.
            <br>
            <em>False</em>, the Rockies played their first game on April 8th, 1993. The Rockies played their home games at Mile High Stadium in Denver until the end of the 1999 season.
            They then moved to Coors Field, which opened in 1995, but was not ready for baseball until 1995.
            The Rockies were the first Major League Baseball team to play their home games at an altitude of over 5,000 feet above sea level.
        </p>
    </div>
</div>






